.word-master-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container{
    text-align: center;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .user-character{
    color:black;
    border: 5px solid gray;
    font-size: 50px;
    height: 50px;
    width: 50px;
  }
  .line{
    width: 400px;
    border: 2px solid black;
  }
  .show{
    visibility: visible;
  }
  .form-element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    row-gap: 10px;
    column-gap: 10px;
    padding: 50px;
  }
  .correct{
    background-color: green;
    color: white;  
  }
  .wrong{
    background-color: lightcoral;
    color: white;
  }
  